<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Orders</title>
    <script src="/app.js" defer></script>
</head>
<body>
    <h1>Reset password</h1>
    <form action="/auth/password" method="post">
        <input name="password" type="password" placeholder="password">
        <input name="confirm" type="password" placeholder="confirm password">
        <input name="userId" type="hidden" value="<%= userId %>">
        <input name="token" type="hidden" value="<%= token %>">
        <input name="_csrf" type="hidden" value="<%= csrf%>">
        <button>reset password</button>
    </form>
</body>
</html>
