<h1>Reset password</h1>
<form action="/auth/password" method="post">
    <input name="password" type="password" placeholder="password">
    <input name="confirm" type="password" placeholder="confirm password">
    <input name="userId" type="hidden" value="<%= userId %>">
    <input name="token" type="hidden" value="<%= token %>">
    <input name="_csrf" type="hidden" value="<%= csrf%>">
    <button>reset password</button>
</form>
