<h1>Reset password</h1>
<form action="/auth/reset" method="post">
    <input name="email" type="email" placeholder="email">
    <input name="_csrf" type="hidden" value="<%= csrf%>">
    <button>reset password</button>
</form>
