<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- defineContent('title') %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <%- include('../partial/messages', {messages: messages}); %>

    <div style="min-height: 100vh; display: grid; place-content: center">
        <%- body %>
    </div>
</body>
</html>
