<div style="margin: auto">
    <h1 class="h1">Add Course</h1>
    <form action="/add" method="POST">
        <div class="my-1">
            <input type="text" name="title" placeholder="title" required>
        </div>
        <div class="my-1">
            <input type="number" name="price" min="1" placeholder="price" required>
        </div>
        <div class="my-1">
            <input type="text" name="url" placeholder="url" required>
        </div>
        <input name="_csrf" type="hidden" value="<%= csrf%>">

        <div class="my-1">
            <button>Add</button>
        </div>
    </form>
</div>
