<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/app.js" defer></script>
</head>
<body>
    <h1>Courses</h1>
    <div>
        <%- include('partial/card', {item: course}); %>
        <a href="/courses/<%= course.id%>/edit?allow=true" target="_blank">edit</a>
        <form action="/courses/remove" method="post">
            <input type="hidden" name="id" value="<%= course.id%>">
            <input name="_csrf" type="hidden" value="<%= csrf%>">

            <button>Remove course</button>
        </form>
    </div>
</body>
</html>
