<div class="card__body" style="display: contents">
    <img class="card__image" src="<%= item.url %>" alt="<%= item.title %>">
    <h2 class="h2 card__title"><%= item.title %></h2>
    <div class="price card__price"><%= item.price %></div>
</div>
