<nav class="main-menu">
    <% routes.forEach(function({link, label, isActive}) { %>
        <a href="<%= link %>" class="main-menu__item<% if (isActive) {%> active<% } %>"><%= label %></a>
    <% }); %>
</nav>

